# Ignore the output folder
deep_learning/output/

# Ignore the HAR_Images zip file
deep_learning/HAR_Images.zip

# Ignore the HAR_Images extracted folder
deep_learning/HAR_Images/

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
env/
ENV/
.venv/

# Ignore temporary and log files
*.log
*.tmp
*.swp
*.bak

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore test output
*.out
*.err
*.coverage
coverage/
